<h2>Edit <%= @supplier.name %></h2>
  <div class="forms">
    <form method="POST" action="/suppliers/<%= @supplier.id %>">

          <label for="name">Name:</label>
          <input type="text" name="name" id="name" value="<%= @supplier.name %>"/>
            <br>
          <label for="payment_method">Payment Method:</label>
          <input type="text" name="payment_method" id="payment_method" value="<%= @supplier.payment_method %>"/>

          <input type="submit" value="Update the Supplier"/>
    </form>
  </div>
  <div class="go_back">
    <a href="/suppliers"><i class="fas fa-arrow-left"></i></a>
  </div>
