<h2>Suppliers</h2>

<p>
  <a href="/suppliers/new">Add new Supplier</a>
</p>

<ul>
  <% for supplier in @suppliers %>
  <li>
  <p><%= supplier.name %> <%= supplier.payment_method %></p>
    <p>
      <form action="/suppliers/<%= supplier.id %>/edit" method="GET">
        <input type="submit" value="edit" />
      </form>
      <form action="/suppliers/<%= supplier.id %>/delete" method="POST">
        <input type="submit" value="delete" />
      </form>
    </p>
  </li>
  <% end %>
</ul>
