<h2>Suppliers</h2>

<table align="center" class="table">
  <tr>
    <th>Name</th>
    <th>Payment Method</th>
  </tr>
  <% for supplier in @suppliers %>
  <tr>
    <td><%= supplier.name %></td>
    <td><%= supplier.payment_method %></td>

    <td><form action="/suppliers/<%= supplier.id %>/edit" method="GET">
        <input type="submit" value="edit" />
      </form><form action="/suppliers/<%= supplier.id %>/delete" method="POST">
        <input type="submit" value="delete" />
      </form>
    </td>
  </tr>
  <% end %>
</table>
<br>
<div align="center" class="add_new">
  <button>
    <a href="/suppliers/new">Add New</a>
  </button>
</div>
