<h2>Add New Supplier</h2>
  <div class="forms">
    <form method="post" action="/suppliers">
      <label for="name-field">Name: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
      <input
      type="text"
      name="name"
      id="name-field"
      />
        <br>
      <label for="payment-method-field">Payment Method:</label>
      <select name="payment_method" id="payment_method">
        <option value='cash'>Cash</option>
        <option value='Card'>Card</option>
        <option value='Credit'>Credit</option>
      </select>

      <input type="submit" value="Add">

    </form>
  </div>
  <div class="go_back">
    <a href="/suppliers"><i class="fas fa-arrow-left"></i></a>
  </div>
