<h2>Add New Supplier</h2>
  <div class="forms">
    <form method="post" action="/suppliers">
      <label for="name-field">Name: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
      <input
      type="text"
      name="name"
      id="name-field"
      />
        <br>
      <label for="payment-method-field">Payment Method:</label>
      <input
      type="text"
      name="payment_method"
      id="payment-method-field"
      />

      <input type="submit" value="Add">

    </form>
  </div>
  <div class="go_back">
    <a href="/suppliers"><i class="fas fa-arrow-left"></i></a>
  </div>
