<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Pantry</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <div class="cover">
      <nav class="nav">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/transactions">Transactions</a>
          </li>
          <li>
            <a href="/products">Products</a>
          </li>
          <li>
            <a href="/suppliers">Suppliers</a>
          </li>
          <li>
            <a href="/categories">Categories</a>
          </li>
        </ul>
      </nav>
      <section class="content">
        <%= yield %>
      </section>
    </div>
  </body>
  <footer>

  </footer>
</html>
