body {
  margin: 0;
  padding: 0;
  background: url("images/background.jpg");
  height: 100vh;
  background-size: cover;
  background-blend-mode: lighten;
  font-family: 'Oswald', sans-serif;
}
h2 {
  color: white;
  text-align: center;
}

/* add new product styling */
.add_new {
  padding-left: 150px;
  color: white;
}

/* navigation bar styling */

.nav {
  opacity: 0.8;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: right;
}

.nav li {
 font-size: 1.2em;
 line-height: 60px;
 display: inline-block;
 margin-right: 40px;
 }

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  padding-left: 20px;
  padding-right: 20px;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

/* Tables styling*/
.table td, th {
 border: 1px solid #ddd;
 padding: 8px;
 text-align: center;
 font-family: 'Oswald', sans-serif;
}

.table tr:nth-child(even){
  background-color: #f2f2f2;
  opacity: 0.9;
}

.table tr:nth-child(odd){
  background-color:	#d2d2d2
}

.table  tr:hover{
  background-color: #9a9a9a;
}

.table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #2ba8a8;
color: white;
}
