<h2>Edit <%= @category.name %></h2>
  <div class="forms">
    <form method="POST" action="/categories/<%= @category.id %>">

          <label for="name">Name:</label>
          <input type="text" name="name" id="name" value="<%= @category.name %>"/>

          <input type="submit" value="Update"/>


    </form>
  </div>

  <div class="go_back">
    <a href="/categories"><i class="fas fa-arrow-left"></i></a>
  </div>
