<h2>Categories</h2>

<div>
  <table align="center" class="table">
    <tr>
      <th>Name</th>
    </tr>
  <% for category in @categories %>
    <tr>
      <td><%= category.name %></td>
      <td>
        <form action="/categories/<%= category.id %>/edit" method="GET">
          <input type="submit" value="edit" />
        </form>
        <form action="/categories/<%= category.id %>/delete" method="POST">
          <input type="submit" value="delete" />
        </form>
      </td>
    </tr>
  <% end %>
</table>
<br>

<div align="center" class="add_new">
  <button>
    <a href="/categories/new">Add New</a>
  </button>
</div>
