<h2>Add new category</h2>
<div class="forms">
  <form method="post" action="/categories">
    <label for="name-field">Name:</label>
    <input
    type="text"
    name="name"
    id="name-field"
    />

    <input type="submit" value="Add">

  </form>
</div>
<div class="go_back">
  <a href="/categories"><i class="fas fa-arrow-left"></i></a>
</div>
